ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.li {
  float: left;
}

.li {
  display: block;
  background-color: white;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li a{
  text-decoration: none;
  color: white;
}


/* Change the link color to #111 (black) on hover */
.li:hover {
  background-color: rgb(189, 189, 189);
  border-radius: 20px;
  transition: 0.5s;
}


.active-navigation{
  background-color: gray;
  transition: 0.2s;
}